# =====================================================================
# Variables de entorno - Convivo Config Server
# =====================================================================

# Token generado en SonarQube (http://localhost:9000 -> My Account -> Security)
SONAR_TOKEN=

# Base de datos SonarQube (PostgreSQL)
SONAR_DB_USER=sonar
SONAR_DB_PASSWORD=sonarpassword
SONAR_DB_NAME=sonar
